/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
  background-color: #142544;
  align-items: center;
}
.header-top__logo {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.hamburger {
  display: none;
}

@media (max-width: 48rem) {
  .hamburger {
    display: inline-block;
  }
  .navSearch {
    order: 10;
  }
}

.navSearch {
  min-width: 23rem;
  flex: 1;
  height: 2rem;
  background: #ffffff;
  border-radius: 20px 20px 20px 20px;
  border: none;
}

.login-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
}
.login-anchor > {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.login-anchor > .wrapper-login {
  display: flex;
  align-items: center;
  width: 2.206rem;
  flex-direction: column;
}

@media (max-width: 48rem) {
  .login-anchor > .wrapper-login {
    display: none;
    order: 9;
  }
}

.login-anchor > .wrapper-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 1.8rem;
  flex-direction: column;
}
.header-mid-wrapper {
  margin-left: 2rem;
  overflow: scroll;
}

@media (max-width: 48rem) {
  .header-mid-wrapper {
    display: none;
  }
}

.header-mid-wrapper > div {
  justify-content: space-between;
  align-items: center;
}
.header-mid-wrapper > div,
.header-mid-wrapper > div > ul {
  display: flex;
  gap: 1.5rem;
}
.header-mid-wrapper > div > div > a {
  width: 126.88px;
  height: 29.19px;
  background: #29a8f8;
  border: 1px solid #29a8f8;
  border-radius: 8px;
  margin: auto;
  text-decoration: none;
  color: #ffffff;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 0.288rem;
  margin-bottom: 0.35rem;
}
.header-mid-wrapper > div > ul > li > img {
  width: 10px;
  height: 16px;
  font-weight: 900;
  font-size: 16px;
  align-items: center;
  filter: invert(49%) sepia(96%) saturate(525%) hue-rotate(170deg)
    brightness(97%) contrast(101%);
}
.header-mid-wrapper > div > ul > li {
  display: flex;
  gap: 0.216rem;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  word-break: keep-all;
  white-space: nowrap;
}
.header-mid-wrapper > div > ul > {
  gap: 1.5rem;
}
.header-mid-wrapper > div > div > a > img {
  height: 12.8px;
  margin-right: 0.25rem;
  margin-left: 0.5rem;
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(108%)
    contrast(101%);
}
.header-mid-wrapper > div > div {
  margin-right: 1rem;
}
.header-bottom-wrapper {
  height: 34.66px;
  background: #2f9659;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

@media (max-width: 48rem) {
  .header-bottom-wrapper {
    display: none;
  }
}

.login-cart {
  height: 23px;
  ilter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(101%)
    contrast(104%);
}
.header-footer {
  background: #142544;
  display: flex;
  flex-direction: column;
}
.header-footer__wrapper {
  display: flex;
  gap: 1.188rem;
  width: 780px;
}
.header-footer__wrapper > div {
  display: flex;
  gap: 0.369rem;
  place-self: center;
}
.header-footer__wrapper > div > img {
  width: 17px;
  height: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  filter: invert(66%) sepia(29%) saturate(6723%) hue-rotate(120deg)
    brightness(87%) contrast(101%);
}
.header-footer__wrapper > div:nth-child(2) {
  color: white;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.header-footer > div:first-child {
  display: flex;
}
.footer-slider-cardContainer {
  /* border: #ffffff solid 1px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
  position: relative;
  transition-duration: 0.5s;
  transition-property: justify-content, align-items;
  transition-timing-function: linear;
}

.sliderButton {
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 100%;
  z-index: 2;
}

.sliderButton__left {
  transform: translateX(3rem);
}

.sliderButton__right {
  transform: translateX(-3rem);
}

.sliderFader {
  min-width: 1.5rem;
  height: 100%;
  z-index: 1;
}

.sliderFader__left {
  transform: translateX(1rem);
  background: linear-gradient(to right, var(--clr-primary-800), transparent);
}

.sliderFader__right {
  transform: translateX(-1rem);
  background: linear-gradient(to left, var(--clr-primary-800), transparent);
}

.gameCard {
  min-width: 10rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: black;
  margin: 0 0.5rem;
  transition-duration: 0.5s;
  transition-property: min-width, margin;
  transition-timing-function: linear;
}

.gameCard__shrunk {
  min-width: 0px;
  margin: 0rem;
  transition-duration: 0.5s;
  transition-property: min-width, margin;
  transition-timing-function: linear;
}

.reference-container {
  width: 780px;
  height: 391.23px;
}
.reference-container > div > h1 {
  font-size: 48px !important;
  margin-bottom: 2.537rem;
  color: white;
}
.header-footer > div:first-child,
.header-footer > div:nth-child(2) {
  padding-left: 7rem;
  margin-bottom: 3rem;
}
.header-footer > div:first-child {
  margin-top: 5rem;
  padding-bottom: 1.524rem;
}
/* .reference-container>div>a{
    background: #29A8F8;
    border: 1px solid #29A8F8;
    border-radius: 8px;
    padding: .399rem 1.151rem .486rem 1.099rem;
    margin-bottom: 3rem;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17.6px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
} */
.reference-container > div:nth-child(2) {
  display: flex;
  gap: 1.25rem;
  padding-top: 3.5rem;
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.header-footer > div > div:nth-child(2) {
  color: white;
  align-self: center;
  font-weight: bold;
}
.header-footer > div:nth-child(2) {
  display: flex;
}
.reference-icons {
  width: 50px;
  height: 50px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 37.4px;
  line-height: 38px;
  padding-bottom: 1rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(20deg)
    brightness(103%) contrast(101%);
}
.envoltorio > .uno,
.envoltorio > .dos,
.envoltorio > .tres {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  color: white;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19.2px;
  line-height: 23px;
}
