.header-top-wrapper{
    display: flex;
    height: 80px;
    background-color: #142544;
    align-items: center;
}
.header-top__logo{
    width: 200px;
    max-width: 100%;
    height: auto;
    margin-left: 1rem;
}
.header-top-wrapper>div:nth-child(2){
    width: 100%;
    height: 41px;
    margin-left: 1.5rem;
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}
.header-top-wrapper>div:nth-child(3){
    display: flex;
    width: 80.09px;
    height: 49.78px;
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-top: 5px;
    gap:.25rem
}
.header-top-wrapper>div:nth-child(3)>div:nth-child(1){
    width: 35.3px;
    height: 44.8px;
    color: white;
}
.header-top-wrapper>div:nth-child(3)>div:nth-child(2){
    width: 28.8px;
    height: 45.78px;
    color: white;
}
.login-anchor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
}
.login-anchor>{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}
.login-anchor>.wrapper-login{
    display: flex;
    align-items: center;
    width: 2.206rem;
    flex-direction: column;
}
.login-anchor>.wrapper-cart{
    display: flex;
    align-items: center;
    width: 1.8rem;
    flex-direction: column;
}
.header-mid-wrapper{
    margin-left: 2rem;
}
.header-mid-wrapper>div{
    justify-content: space-between;
    align-items: center;
}
.header-mid-wrapper>div,
.header-mid-wrapper>div>ul{
    display: flex;
    gap: 1.5rem
}

.header-mid-wrapper>div>div>a{
    width: 126.88px;
    height: 29.19px;
    background: #29A8F8;
    border: 1px solid #29A8F8;
    border-radius: 8px;
    margin: auto;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0.288rem;
    margin-bottom: 0.35rem;
}
.header-mid-wrapper>div>ul>li>img{
    width: 10px;
    height: 16px;
    font-weight: 900;
    font-size: 16px;
    align-items: center;
    filter: invert(49%) sepia(96%) saturate(525%) hue-rotate(170deg) brightness(97%) contrast(101%);
}
.header-mid-wrapper>div>ul>li{
    display: flex;
    gap: .216rem;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.header-mid-wrapper>div>ul>{
    gap: 1.5rem;
}
.header-mid-wrapper>div>div>a>img{
    height: 12.8px;
    margin-right: 0.25rem;
    margin-left: 0.5rem;
    filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(108%) contrast(101%);
}

.header-mid-wrapper>div>div{
    margin-right: 1rem;
}
.header-bottom-wrapper{
    height: 34.66px;
    background: #2F9659;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.login-cart{
    height: 23px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(101%) contrast(104%);
}

.header-footer-wrapper{
    background: #142544;
    height: 1000px;
}

